
VITE_FIREBASE_API_KEY=AIzaSyA112CbQaI6W4ZwPoTaAm_vqDVMiPdobvQ
VITE_FIREBASE_AUTH_DOMAIN=my-route-rider.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-route-rider
VITE_FIREBASE_STORAGE_BUCKET=my-route-rider.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=885105869337
VITE_FIREBASE_APP_ID=1:885105869337:web:4f3c9020d98e543b9b2088
VITE_FIREBASE_MEASUREMENT_ID=G-7PCLNNVRXZ
